{% extends 'layouts/base_Bootstrap5.html' %}

{% block title %}Curso {{course.pk}}{% endblock %}

{% block body %}
{% load extra_tags %}
{% include 'components/navbar2.html' with userGroups=userGroups %}
<div class="container">
    <div class="row">
        <h1 class="my-4 simple-title col-12">{{title}}</h1>
    </div>

    <div class="row">
        {% if form.errors %}
            <div class="col-12 r-form-errors">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form method="post" class="container" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                {% for field in form %}
                {% if field.name == 'course_id_edit' %}
                <div class="d-none">
                    {{field}}
                </div>
                {% else %}
                <div class="col-12 col-md-6 mb-2">
                    <div class="w-100 r-form-tag">
                        {{field.label_tag}}
                    </div>
                    <div class="w-100 r-form-field">
                        {{field}}
                    </div>
                    <div class="w-100 r-form-errors">
                        {{field.errors}}
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="row justify-content-center my-3">
                <button type="submit" class="r-form-button">Enviar</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}

{% block script %}
<script>
    let checkbox = document.getElementById('id_published');
    if(window.location.href.includes('create')){
        checkbox.disabled = true;
    }

    const fileButton = document.getElementById('id-btn-file-upload');
    const fileText = document.getElementById('id-text-file-upload');
    fileButton.addEventListener('change', function() {
        fileText.textContent = this.files[0].name
    })
</script>
{% endblock %}