{% extends 'layouts/base.html' %}

{% block title %}Lista de usuarios{% endblock %}

{% block body %}
{% load extra_tags %}
{% include 'components/navbar.html' with userGroups=userGroups %}
<div id="id-form-container">
{% include 'components/title.html' with type="patient-title" text="Mi diario" %}
    <div class="container">
        {% if request.user.get_person.pk == diary.patient.get_person.pk %}
        <div class="row">
            <div class="col-12 hstack gap-3">
                <button id="id-new-entry" class="autoevaluation-button courses-button-cyan"><a class="text-white bi bi-plus" href="create/">Nueva entrada</a></button>
                <div class="gif-container" id="id-new-entry-gif">
                    <img class="gif-icon" src="" alt="GIF Icon"></img>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row my-4">
            <h1 class="simple-title col-12">Entradas</h1>
        </div>

        {% if entries %}
        <div class="row accordion accordion-flush" id="accordionEntries">
            {% for entry in entries %}
            <div class="col-12 accordion-item my-3">
                <h2 class="accordion-header" id="flush-heading{{entry.pk}}">
                    <button class="accordion-button collapsed hstack gap-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{entry.pk}}" aria-expanded="false" aria-controls="flush-collapse{{entry.pk}}">
                        <strong>{{entry.datetime|date:"d/m/Y"}}</strong><span>{{entry.title}}</span>
                    </button>
                </h2>
                <div id="flush-collapse{{entry.pk}}" class="accordion-collapse collapse course-row-content" aria-labelledby="flush-heading{{entry.pk}}" data-bs-parent="#accordionEntries">
                    <div class="py-md-4 py-2 container-fluid vstack gap-3">
                        <div>
                            {{entry.content}}
                        </div>
                        <div>
                            <strong>Emoción:&nbsp;</strong><span>{{entry.get_feeling_display}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="row">
                <div class="col-12">
                    <span>No hay entradas en el diario. ¡Para escribir alguna, pulsa en el botón de "Nueva entrada"!</span>
                </div>
            </div>
        {% endif %}

        {% if pages.has_previous or pages.has_next %}
        <div id="id-pagination" class="row">
            <nav aria-label="Paginación de ususarios">
                <ul class="pagination justify-content-end">
                    {% if pages.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{pages.current|add:'-1'}}">Anterior</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{pages.current|add:'-1'}}">{{pages.current|add:"-1"}}</a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="?page={{pages.current}}">{{pages.current}}</a></li>
                    {% if pages.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{pages.current|add:'1'}}">{{pages.current|add:"1"}}</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{pages.current|add:'1'}}">Siguiente</a></li>
                    {% endif %}
                </ul>
              </nav>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}

{% block script %}
{% load static %}
<script>

    let patientDiv = document.querySelector('#id-new-entry-gif');
    let patientButton = document.querySelector('#id-new-entry');
    patientDiv.querySelector('img').src = "{% static 'assets/gifs/Papelylapiz0.png' %}";
    patientButton.addEventListener('mouseover', (e) => {
        setTimeout(() => {
            patientDiv.querySelector('img').src = "{% static 'assets/gifs/Papelylapiz.gif' %}";
        }, 50);
    });
    patientButton.addEventListener('mouseleave', (e) => {
        setTimeout(() => {
            patientDiv.querySelector('img').src = "{% static 'assets/gifs/Papelylapiz0.png' %}";
        }, 50);
    });

</script>
{% endblock %}