{% extends "layouts/base.html" %}

{% block title %}P&aacute;gina principal{% endblock %}

{% load extra_tags %}
{% block body %}
{% include 'components/navbar.html' with userGroups=userGroups %}
<div class="container-fluid">
    {% if userGroups|has_group:"technics" %}
        {% include 'components/title.html' with type="technic-title" text="&Aacute;rea del equipo t&eacute;cnico" %}
        <div class="container mt-4">
            {% include 'components/gifbutton.html' with button_id="id-buttonmenu-1" type="technics" href="#" text="Seguimiento de sesiones" %}
            {% include 'components/gifbutton.html' with button_id="id-buttonmenu-2" type="technics" href="#" text="Lista de usuarios" %}
            {% include 'components/gifbutton.html' with button_id="id-buttonmenu-3" type="technics" href="#" text="M&eacute;tricas del sistema" %}
        </div>
    {% endif %}
    {% if userGroups|has_group:"teachers" %}
        {% include 'components/title.html' with type="teacher-title" text="&Aacute;rea de formadores" %}
        <div class="container mt-4">
            {% include 'components/gifbutton.html' with button_id="id-buttonmenu-4" type="teachers" href="/courses/" text="Ver cursos" %}
            {% include 'components/gifbutton.html' with button_id="id-buttonmenu-5" type="teachers" href="/courses/create/" text="Crear un curso" %}
        </div>
    {% endif %}
    {% if userGroups|has_group:"patients" %}
        {% include 'components/title.html' with type="patient-title" text="Tu &aacute;rea Reinicias" %}
        <div class="container mt-4">
            {% include 'components/gifbutton.html' with button_id="id-buttonmenu-6" type="patients" href="#" text="Mis tareas" %}
            {% include 'components/gifbutton.html' with button_id="id-buttonmenu-7" type="patients" href="#" text="Mi diario" %}
            {% include 'components/gifbutton.html' with button_id="id-buttonmenu-8" type="patients" href="#" text="Mi perfil" %}
        </div>
    {% endif %}
    <div class="container-fluid">

    </div>
</div>

{% endblock %}

{% block script %}
{% load static %}
<script>
    let technics = document.getElementsByClassName('id-technics-row');
    for (let technic of technics) {
        let buttonTechnic = technic.querySelector('button');
        technic.querySelector('img').src = "{% static 'assets/gifs/Monigote0.png' %}";
        buttonTechnic.addEventListener('mouseover', (e) => {
            setTimeout(() => {
                technic.querySelector('img').src = "{% static 'assets/gifs/Monigote.gif' %}";
            }, 50);
        });
        buttonTechnic.addEventListener('mouseleave', (e) => {
            setTimeout(() => {
                technic.querySelector('img').src = "{% static 'assets/gifs/Monigote0.png' %}";
            }, 50);
        });
    }

    let teachers = document.getElementsByClassName('id-teachers-row');
    for (let teacher of teachers) {
        let buttonTeacher = teacher.querySelector('button');
        teacher.querySelector('img').src = "{% static 'assets/gifs/Libros0.png' %}";
        buttonTeacher.addEventListener('mouseover', (e) => {
            setTimeout(() => {
                teacher.querySelector('img').src = "{% static 'assets/gifs/Libros.gif' %}";
            }, 50);
        });
        buttonTeacher.addEventListener('mouseleave', (e) => {
            setTimeout(() => {
                teacher.querySelector('img').src = "{% static 'assets/gifs/Libros0.png' %}";
            }, 50);
        });
    }

    let patients = document.getElementsByClassName('id-patients-row');
    for (let patient of patients) {
        let patientButton = patient.querySelector('button');
        patient.querySelector('img').src = "{% static 'assets/gifs/Piedrita0.png' %}";
        patientButton.addEventListener('mouseover', (e) => {
            setTimeout(() => {
                patient.querySelector('img').src = "{% static 'assets/gifs/Piedrita.gif' %}";
            }, 50);
        });
        patientButton.addEventListener('mouseleave', (e) => {
            setTimeout(() => {
                patient.querySelector('img').src = "{% static 'assets/gifs/Piedrita0.png' %}";
            }, 50);
        });
    }

</script>
{% endblock %}