:root {
    --cyan: #00aabb;
    --black: #000000;
    --white: #ffffff;
    --grey: #333333;
    --red: #ff0000;
    --purple: #402d7a;
    --light-grey: #eaeaea;
    --dark-magenta: #762656;
    --yellow: #ffb800;

    --md-border: solid 3px;
    
    --sm-size: 18px;
    --md-size: 24px;
    --lg-size: 36px;
    --xl-size: 48px;

    --title-height: 72px;
}

@font-face {
    font-family: 'OpenSans';
    src: url("/static/fonts/static/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url("/static/fonts/static/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'Montserrat';
    src: url("/static/fonts/static/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url("/static/fonts/static/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
}

p {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: var(--md-size);
    color: var(--black);
}

.nav-link {
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: var(--md-size);
    color: var(--grey) !important;
}

.nav-link:hover {
    color: var(--black) !important;
    text-decoration: underline;
}

.navbar-full {
    width: 100%;
}

.top-navbar {
    width: 100%;
    height: 48px;
    background-color: var(--cyan);
}

.logo-reinicias {
    height: 48px;
}

.banner {
    height: 50vh;
}

.banner > img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.main-hello-box {
    position: absolute;
    right: 0;
    margin: 5%;
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px;
    max-width: 100%;
    
}

.main-hello-box p {
    font-size: var(--sm-size) !important;
}

@media screen and (min-width: 768px) {
    .main-hello-box {
        position: absolute;
        right: 0;
        margin: 48px 48px 0 0;
        background-color: var(--white);
        border-radius: 15px;
        padding: 20px;
        max-width: 35vw;
        font-size: var(--md-size);
    }

    .main-hello-box p {
        font-size: var(--md-size) !important;
    }

}

.text-purple {
    color: var(--purple);
    font-weight: bold;
}

.btn-general {
    width: 220px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

@media screen and (min-width:576px) {
    .btn-general {
        width: 350px;
        font-size: var(--md-size);
    }
    .btn-student-register {
        width: 220px;
        font-size: var(--md-size);
    }
}
@media screen and (min-width:768px) {
    .btn-general {
        width: 450px;
        font-size: var(--lg-size);
    }
    .btn-student-register {
        width: 30vw;
        font-size: var(--md-size);
    }
}

.btn-outline-cyan {
    background-color: var(--white);
    color: var(--black);
    border: var(--cyan) var(--md-border);
    border-radius: 10px;
    
}

.btn-outline-cyan:hover {
    background-color: var(--cyan);
    color: var(--white);
    border: var(--cyan) var(--md-border);
}

.btn-outline-cyan:active,
.btn-outline-cyan:focus {
    background-image: linear-gradient(var(--white),var(--cyan));
    color: var(--white);
    border: var(--cyan) var(--md-border);
    outline: var(--purple) var(--md-border);
}

.circle-cyan {
    color: var(--cyan);
    line-height: 0;
    align-self: center;
}

#id-main-container {
    min-height: calc(100vh - 48px - 123.5px);
}

#id-form-container {
    min-height: calc(100vh - 48px - 140px);
}

footer {
    width: 100vw;
    height: 48px;
    background-color: var(--cyan);
}

.d-center-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1vh 0;
}

@media screen and (min-width: 1012px) {
    .d-center-items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: 0;
    }
}

.main-title {
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: var(--md-size);
    color: var(--white);
    padding-left: calc(var(--title-height) / 2);
    margin: 0;
    width: 100%;
    height: 100%;
    padding-top: 24px;
    backdrop-filter: blur(5px) brightness(80%);
}

.general-title > .main-title {
    backdrop-filter: blur(0) brightness(100%);
}

@media screen and (min-width:768px) {
    .main-title {
        font-size: var(--lg-size);
        padding-top: 14px;
    }
}

.general-title {
    background-color: var(--cyan);
    height: var(--title-height);
    align-items: center;
}

.section-title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: var(--title-height);
    align-items: center;
    width: 100vw;
}

.technic-title {
    background-image: url("/static/assets/BannerEquipoDirectivo.jpg");
}

.teacher-title {
    background-image: url("/static/assets/BannerFormadores.jpg");
}

.patient-title {
    background-image: url("/static/assets/BannerPaciente.png");
}

.r-form-errors {
    color: #ff0000;
}

.r-form-tag {
    color: var(--black);
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: var(--md-size);
}

.r-form-field {
    border: var(--cyan) solid 2px;
    color: #333333;
    width: 100%;
    padding: 0;
}

.r-form-field > input {
    width: 100%;
    font-size: var(--md-size);
    height: 38px;
    border: transparent solid 3px;
}

.r-form-field > input:focus {
    border: var(--purple) solid 3px;
    box-shadow: 0 0 5px var(--black);
}

.r-form-field > select {
    width: 100%;
    height: 38px;
    background-color: var(--white);
    color: var(--black);
    border: transparent solid 3px;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;
    font-size: var(--md-size);
}

.r-form-button {
    width: 210px;
    height: 80px;
    color: var(--white);
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: var(--md-size);
    background-image: conic-gradient(var(--cyan) 10deg, var(--purple) 180deg, var(--cyan) 360deg);
    border: 0;
    border-radius: 10px;
}

.r-form-button:hover {
    box-shadow: 0 0 5px var(--black);
}

.courses-button {
    width: 128px;
    height: 50px;
    border: 0;
    border-radius: 10px;
}

.text-white {
    color: var(--white) !important;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: var(--xs-size);
    text-decoration: none;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.courses-button-yellow {
    background-image: conic-gradient(var(--yellow) 10deg, var(--dark-magenta) 180deg, var(--yellow) 360deg);
}

.courses-button-yellow:hover {
    box-shadow: 0 0 5px var(--black);
}

.courses-button-cyan {
    background-image: conic-gradient(var(--cyan) 10deg, var(--purple) 180deg, var(--cyan) 360deg);
}

.courses-button-cyan:hover {
    box-shadow: 0 0 5px var(--black);
}

.gif-container {
    display: flex;
    align-items: center;
}

.gif-icon {
    width: 64px;
    height: 64px;
}

.accordion-button {
    width: 100%;
    height: var(--xl-size);
    cursor: pointer;
    font-family: 'Montserrat',Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--sm-size);
    color: var(--black);
    justify-content: space-around;
    align-items: center;
    background-color: var(--white);
    border-top: var(--black) solid 1px;
}

.accordion-button.collapsed {
    border-bottom: var(--black) solid 1px;
}

.accordion-button:not(.collapsed) {
    border-top: var(--black) solid 1px;
    background-color: transparent !important;
    color: inherit;
    border-bottom: var(--light-grey) solid 1px;
}

button.accordion-button:focus {
    border-top: var(--black) solid 1px;
    color: var(--black) !important;
    background-color: var(--white) !important;
    outline: none !important;
    box-shadow: inherit;
}

.course-row-content {
    border-bottom: var(--black) solid 1px !important;
    border-radius: 0 !important;
}

.course-row[aria-expanded=true] .plus-icon {
    display: none;
}

.course-row[aria-expanded=false] .minus-icon {
    display: none;
}

#id-register-row {
    justify-content: center;
}

.div-ask-student-register {
    width: 90%;
    justify-content: center;
    padding: 15px 0;
    border: var(--cyan) solid 3px;
}

.section-icon {
    width: 32px;
    height: 32px;
}

.text-separator {
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: var(--sm-size);
    white-space: nowrap;
    margin: 0 15px;
}

.horizontal-separator {
    width: 100%;
    height: 0;
    border-top: var(--black) solid 5px;
    align-self: center;
}

.form-control.course-filter {
    font-family: 'OpenSans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--sm-size);
    color: var(--grey);
    border: var(--cyan) solid 2px;
}
