{% comment %}
IN:
- type = "seelist"/"enrol"
- course
- parent_id (accordion div)
- editable

Attributes for course:
-> name
-> description
-> units: derived
{% endcomment %}

<div class="accordion-item my-3">
    <h2 class="accordion-header" id="flush-heading{{course.pk}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{course.pk}}" aria-expanded="false" aria-controls="flush-collapse{{course.pk}}">
            {{course.name}}
        </button>
    </h2>
    <div id="flush-collapse{{course.pk}}" class="accordion-collapse collapse course-row-content" aria-labelledby="flush-heading{{course.pk}}" data-bs-parent="#{{parent_id}}">
        <div class="py-md-4 pb-2">
            <div class="w-100">
                {{course.description}}
            </div>
            <div class="w-100">
                <span class="text-xs"><strong>Temas:&nbsp;</strong>{{course.units}}</span>
                <br>
                <span class="text-xs"><strong>Duraci&oacute;n (semanas):&nbsp;</strong>{{course.duration}}</span>
                <br>
                {% if course.index_document %}
                <span class="text-xs"><strong>Documento de curso:&nbsp;</strong><a target="_blank" href="{{MEDIA_URL}}{{course.index_document.name}}" rel="noopener">{{course.get_document_display}}</a></span>
                {% endif %}
            </div>
            <div class="w-100 d-flex">
                {% if type == "seelist" %}
                <button class="my-3 courses-button courses-button-cyan"><a class="text-white" href="{{course.pk}}/" ><span>Ver curso</span></a></button>
                {% elif type == "enrol" %}
                <button class="my-3 courses-button courses-button-cyan"><a class="text-white" href="{{course.pk}}/inscribe"><span>Inscribirse</span></a></button>
                {% endif %}
                
                {% if not student %}
                    {% if not course.published %}
                    <button class="my-3 ms-3 courses-button courses-button-cyan"><a class="text-white" href="{{course.pk}}/edit"><span>Editar</span></a></button>
                    <button class="my-3 ms-3 courses-button courses-button-cyan" type="submit"><a class="text-white" href="{{course.pk}}/delete"><span>Borrar</span></a></button>
                    {% else %}
                    <button class="my-3 ms-3 courses-button courses-button-cyan" type="submit"><a class="text-white" href="{{course.pk}}/unpublish"><span>Despublicar</span></a></button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>