{% load static %}
<div class="accordion-item my-3">
    <h2 class="accordion-header" id="flush-heading{{unit.pk}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{unit.pk}}" aria-expanded="false" aria-controls="flush-collapse{{unit.pk}}">
            {{unit.title}}
        </button>
    </h2>
    <div id="flush-collapse{{unit.pk}}" class="accordion-collapse collapse course-row-content" aria-labelledby="flush-heading{{unit.pk}}" data-bs-parent="#{{parent_id}}">
        <div class="pt-md-4 pb-md-2 pb-2">
            <div class="w-100">
                <div class="w-100"><strong>Contenido:</strong></div>
                <!-- CONTENIDO -->
                <ul>
                {% for content in contents %}
                    <li class="w-100"><strong class="text-capitalize">{{content}}:&nbsp;</strong><a target="_blank" href="{{MEDIA_URL}}{{content.resource.name}}" rel="noopener">{{content.resource.name}}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="w-100 d-flex align-items-center">
                <button class="my-3 me-3 courses-button courses-button-cyan"><a class="text-white" href="units/{{unit.pk}}/edit" >Editar tema</a></button>
                <button class="my-3 courses-button courses-button-cyan"><a class="text-white" href="autoevaluation/{{unit.pk}}/" >Ver autoevaluaci&oacute;n</a></button>
            </div>
        </div>
    </div>
</div>