{% extends 'layouts/base.html' %}

{% block title %}Lista de usuarios{% endblock %}

{% block body %}
{% load extra_tags %}
{% include 'components/navbar.html' with userGroups=userGroups %}
<div id="id-form-container">
{% include 'components/title.html' with type="technic-title" text="Lista de usuarios" %}
    <div class="container">
        <div id="id-filter-panel" class="row">
            <div class="col-3 d-none d-md-flex justify-content-start align-items-center">
                <button class="autoevaluation-button courses-button-cyan"><a class="text-white bi bi-plus" href="create/">Nuevo miembro</a></button>
            </div>
            <div class="col-12 col-md-9">
                <form action="#" method="POST" class="form my-4 input-group">
                    <input type="text" name="name" class="form-control course-filter" name="query" placeholder="Filtra por nombre...">
                    <select class="form-select course-filter" name="role" placeholder="Filtra por rol...">
                        <option selected value="">Seleccione un rol...</option>
                        {% for role_id,role in roles.items %}
                            <option value="{{role_id}}">{{role|capfirst}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="r-form-button"><span class="text-md bi bi-search">&nbsp;Filtrar</span></button>
                </form>
            </div>
            <div class="col-12 d-flex d-md-none align-items-center">
                <button class="autoevaluation-button courses-button-cyan"><a class="text-white bi bi-plus" href="#">Nuevo miembro</a></button>
            </div>
        </div>

        <div id="id-table" class="row mt-5 mt-md-3">
            <div class="col-12 table-responsive">
                <table class="table table-hover">
                    <caption>Usuarios en el sistema</caption>
                    <thead>
                        <th scope="col">Usuario</th>
                        <th scope="col">Nombre y apellidos</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Correo</th>
                        <th scope="col"></th>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for user in users %}
                            <tr style="cursor: pointer;" onclick="window.location.href = '/technics/users/{{user.pk}}'">
                                <td>{{user.user.username}}</td>
                                <td>{{user}}</td>
                                <td>{{user.user.get_groups_display}}</td>
                                <td>{{user.user.email}}</td>
                                <td class="bi bi-chevron-right"></td>
                            </tr>                        
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if pages.has_previous or pages.has_next %}
        <div id="id-pagination" class="row">
            <nav aria-label="Paginación de ususarios">
                <ul class="pagination justify-content-end">
                    {% if pages.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{pages.current|add:'-1'}}">Anterior</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{pages.current|add:'-1'}}">{{pages.current|add:"-1"}}</a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="?page={{pages.current}}">{{pages.current}}</a></li>
                    {% if pages.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{pages.current|add:'1'}}">{{pages.current|add:"1"}}</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{pages.current|add:'1'}}">Siguiente</a></li>
                    {% endif %}
                </ul>
              </nav>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>

const form = document.querySelector('form');
form.addEventListener('submit', function(event) {
    event.preventDefault();
    let query_name = document.getElementsByName('name')[0].value;
    let query_role = document.getElementsByName('role')[0].value;
    var formData = new URLSearchParams();
    formData.append('query_name',query_name);
    formData.append('query_role',query_role);

    fetch("filter/", {
    method: 'POST',
    headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token for security
    },
    body: formData.toString()
    })
    .then(function(response) {
        return response.text();
    })
    .then(function(data) {
        let clean_data = JSON.parse(data)
        
        let tablebody = document.getElementsByTagName('tbody')[0];
        tablebody.innerHTML = '';
        
        let users = clean_data['users'];
        for(let user of users) {
            tablebody.appendChild(createTableRow(user));
        }
    })
    .catch(function(error) {
    // Handle any network or request errors
    alert('An error occurred while processing the request.\n'+error);
    });

    function createTableRow(user) {
        let row = document.createElement('tr');
        row.style = 'cursor: pointer;';
        row.addEventListener('click', () => {
            window.location.href = `/technics/users/${user['pk']}`;
        })

        let column1 = document.createElement('td');
        column1.innerHTML = user['username'];
        let column2 = document.createElement('td');
        column2.innerHTML = user['full_name'];
        let column3 = document.createElement('td');
        column3.innerHTML = user['groups'];
        let column4 = document.createElement('td');
        column4.innerHTML = user['email'];

        row.appendChild(column1);
        row.appendChild(column2);
        row.appendChild(column3);
        row.appendChild(column4);

        return row;
    }
});

</script>
{% endblock %}